<div class="container">
    <form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
        <br><br>
        <input type="text" ngModel name="user" placeholder="Enter Your Name"> <br><br>
        <input type="email"  ngModel name="email" placeholder="Enter email"> <br> <br>
        <input type="password"  ngModel name="password" placeholder="Enter Your password"> <br><br>
        <button>Register</button>
       </form>

       <p>{{userData.user}}</p>
       <p>{{userData.email}}</p>
       <p>{{userData.password}}</p>


       <h1 *ngIf="display">Heading</h1>
       <button (click)="toggle()">Toggle</button>
</div>

