<div class="container">
    <div class="row">
        <div class="col-xs-12">
           <p>Add new Server or blueprints</p>
           <label>Sever Name</label>
           <input type="text" class="form-control" [(ngModel)]="newServerName">
           <label>Sever Content</label>
           <input type="text" class="form-control"[(ngModel)]="newServerContent">
           <br>
           <button class="btn btn-primary" (click)="onAddServer()">Add Server</button> |
           <button class="btn btn-primary" (click)="onAddBlueprint()">Add Server Blueprint</button>
           
           
            <!-- <app-servers></app-servers> -->
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default"
                *ngFor="let element of serverElements">
                <div class="panel panel-heading">{{element.name}}</div>
                <div class="panel-body"></div>
                <p>
                    <strong *ngIf="element.type==='server'" style="color: red;">{{element.content}}

                    </strong>
                    <em *ngIf="element.type==='blueprint'">{{element.content}}</em>
                </p>
            </div>
        </div>
    </div>

</div>
